Django
django-extensions
djangorestframework
django-filter
djangorestframework-simplejwt
django_restql
django-simple-captcha
drf_yasg
markdown
pypinyin
requests
cryptography
pycryptodome
pycryptodomex
channels
channels-redis
uvicorn
gunicorn
gevent
Pillow
pyinstaller

